[Desktop Entry]
Name=GoldenDict
GenericName=Multiformat Dictionary
Comment=A feature-rich dictionary lookup program
Exec=/usr/bin/goldendict
Terminal=false
Type=Application
Icon=goldendict
Categories=Office;Dictionary;Education;Qt;
StartupNotify=false
